<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primereact@1.5.2/resources/primereact.min.css" integrity="sha256-WXtfAu/zSftVMRHrMBEWV6UgoxHBzvRYzizzHxFfzXo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primereact@1.5.2/resources/themes/omega/theme.css" integrity="sha256-jgpi/h8cZvNV42Nvz9XEyfczQ+siphO4mOb1bI+S8a8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
  </head>
  <body>
      <div id="root"></div>
      <script>
        var config = <%= htmlWebpackPlugin.options.appConfig %>;
      </script>
  </body>
</html>